<html
   xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
   xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
   xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
   xmlns:sit="http://typo3.org/ns/SJBR/StaticInfoTables/ViewHelpers"
   data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
	<h1>{f:translate(key: 'testFormTitle')}</h1>
	<f:form method="post" controller="Manager" action="testForm" name="testForm" class="sjbr-static-info-tables-manager">
		<fieldset>
		<dl class="t3-overview-list">
			<dt>
				<label for="sjbr-static-info-tables-manager-country">{f:translate(key: 'selectCountry')}:</label>
			</dt>
			<dd>
				<sit:form.select id="sjbr-static-info-tables-manager-country" name="country" staticInfoTable="country" options="{}" value="{selectedCountry}" additionalAttributes="{onchange:'javascript:this.form.submit();'}"/>
			</dd>
			<f:if condition="{selectedCountry}">
				<f:if condition="{selectedCountry.countryZones}">
					<dt>
						<label for="sjbr-static-info-tables-manager-country-zone">{f:translate(key: 'selectCountryZone')}:</label>
					</dt>
					<dd>
						<sit:form.select id="sjbr-static-info-tables-manager-country-zone" name="countryZone" staticInfoTable="countryZone" staticInfoTableSubselect="{country: '{selectedCountry.uid}'}" options="{}" value="{selectedCountryZone}" />
					</dd>
				</f:if>
			</f:if>
			<dt>
				<label for="sjbr-static-info-tables-manager-language">{f:translate(key: 'selectLanguage')}:</label>
			</dt>
			<dd>
				<sit:form.select id="sjbr-static-info-tables-manager-language" name="language" staticInfoTable="language" options="{}" value="{selectedLanguage}" />
			</dd>
			<dt>
			</dt>
			<dd>
				<f:form.submit class="submit" value="{f:translate(key: 'testFormSubmit')}" />
			</dd>
		</dl>
		</fieldset>
	</f:form>
</f:section>
</html>